#game-title {
    text-align: center;
    color: #ffffff; /* White text color */
    background-color: #2c3e50; /* Dark blue background */
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Use Arial or any sans-serif font */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  }


body {
    background-color: #df89a9;
}

/* grab ships from here to place on grid */
.ships-container {
    background-color: rgb(69, 232, 232);
    width: 525px;
    height: 150px;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.display-destroyer {
    width: 50px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
}

.display-submarine {
    width: 75px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
}

.display-cruiser {
    width: 75px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
}

.display-battleship {
    width: 100px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
}

.display-carrier {
    width: 125px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
}

.destroyer {
    background-color: #ff0040;
}

.submarine {
    background-color:  #ff0040;
}

.cruiser {
    background-color:  #ff0040;
}

.battleship {
    background-color:  #ff0040;
}

.carrier {
    background-color:  #ff0040;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: #f0e9e9;
}

/* Button to rotate ships */
#rotate-button {
    background-color: #176b48;
    color: wheat;
    padding: 10px 15px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 20px;
    position: relative;
    top: -250px;
    right: 20px;
}


#start-button {
    background-color: #a61717;
    color: wheat;
    padding: 20px 25px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 300px;
    left: 20px;
}

/* Button to restart game */
#restart-game-button {
    background-color: #a61717;
    color: wheat;
    padding: 20px 25px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 400px;
    left: 20px;
}

#rotate-button:hover {
    background-color: #556169;
    cursor: pointer;
}

#start-button:hover {
    background-color: #556169;
    cursor: pointer;
}

/* Button to restart game hover */

#restart-game-button:hover {
    background-color: #556169;
    cursor: pointer;
}

#gamesboard-container {
    display: flex;
    justify-content: space-evenly;
}

.game-board {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.hit {
    background-color: rgb(0, 255, 153) !important;
    color: grey;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

.miss {
    background-color: #add8e6;;
    color: grey;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#computer .sunk-ship {
    background-color: #e74c3c!important; 
}
